@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    font-family: "inter";
}

input,
select {
    margin-bottom: 3px;
}

button,
input {
    font-family: "inter";
}

.warning {
    background-color: rgba(237, 80, 80, 0.471);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 30%;
    width: 100%;
}

@media (max-width: 600px) {
    .warning {
        width: 100%;
        max-width: none;
        box-sizing: border-box;
    }
}

.hidden {
    display: none;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
    text-align: center;
}

.tables {
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: 100px;
}

.tables table {
    margin-left: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}