@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    font-family: "inter";
    background-color: #f2ece3;
}

input,
select {
    margin-bottom: 3px;
}

button,
input,
select {
    font-family: "inter";
    border: 1px solid black;
    border-radius: 3px;
}

.warning {
    background-color: rgba(237, 80, 80, 0.5);
    padding: 10px;
    max-width: 67%;
    width: 100%;
}

.warning h2 {
    margin-top: 5px;
}

.hidden {
    display: none;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
    text-align: center;
}

.tables {
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: 100px;
}

.tables table {
    margin-left: 10px;
}

tr:nth-child(even) {
    background-color: #d5d0c87e;
}

.content {
    max-width: 900px;
    margin-top: 100px;
}

.ver {
    position: absolute;
    bottom: 0;
}

.res {
    background-color: #f2f2f2;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
    width: max-content;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
}

@media (max-width: 600px) {
    .warning {
        width: 100%;
        max-width: none;
        box-sizing: border-box;
    }

    .res {
        width: 99%;
    }
}

.res h3 {
    margin: 0;
}

.titlebar {
    width: 100%;
    background-color: #1a2e3b;
    height: 75px;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.titlebar h1 {
    margin-top: 18px;
}